body {
	 background-color: #F0F0F0;
	 background-image: url(http://www.allfreebackgrounds.com/backgrounds/backs/papers/tissue.JPG);
	 
}

.M img {
	
	border: 2px solid black;
	margin: 10px

}

h1{
	border: 1px solid black; 
	text-align: center; 
	background-color: #1f1fca;
}

p {
	margin-top: 46px;
	font-family: serif;
	font-style: italic;
	font-weight: bold;
	border: 1px solid black;
	margin-right: 425px;

}

.Social img {
	height:35px;
	width: 35px;
	
}

.kanji img {
	height:200px;
	width:100px;
	float:right;
	clear:bottom;
	

	
}
	.A img{
		height:200px;
		width: 275px;
		float: right;
		clear:bottom;

		
	}
	.button{
		height: 20px;
		width: 100px;
		background-color: #BCD2EE;
		border-color: #6495ED;
		border-radius: 5px;
		text-align: center;
		margin-bottom: 15px;
}
	.button a{
		text-decoration: none;
		font-family: sans-serif;
			}
